  <header class="navBar" >
      <ul>
        <li id="navNew"><a href="/incidents/new/">New Incident</a></li>
        <li id="navAll"><a href="/incidents/">View Incidents</a></li>
        <li id="navUser"><a href="/user/mypage/">My Page</a></li>
      </ul>
</header>