<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('part/head') %>
  </head>

 <body>
<div class="content">  
    <%- include ("part/header") %>   
    <main class="main">
      <h2>
        Appendix Details will be displayed here
      </h2>
    </main>
    <%- include ("part/footer") %>
   </div>
  </body>
</html>