<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('part/head') %>
  </head>

 <body>
      <div class="content">  
    <%- include ("part/header") %>
    <main class="main center">
      <h4>
        #TODO View Incidents Ref Number <%= result.INC_ID %> Details here
      </h4>      
      <a href="/incidents/">Back</a>
    </main>
        <%- include ("part/footer") %>
   </div>
  </body>
</html>

